body{
 background-color: rgb(255, 250, 230);
}

h1{
    color: rgb(88, 168, 124);
    display: inline-block;
    margin-top: 10vh;
    font-size: 8vmin;
}
 .prog1{
    color: rgb(89, 175, 128);
    background-color: rgba(212, 199, 199, 0.61);
    width: 80vw;
    height: 100vh;
    margin-left: 10vw;
    font-size: 4vmin;
    margin-top: 10vh;
 }
